body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #8b66bb;
    font-size: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

div#result { 
    text-align: center; 
    margin-top: 19px;
}