html {

    font:
      12px/20px Arial,
      sans-serif;
}


body {
    background-image: url("fondecran_connexion.png");
    background-color: bisque;
}

h1 {
text-align: center;
color: dimgrey;
padding: 40px 20px 20px;
background-color: bisque;
opacity: 70%;
border-radius: 1.8rem;
font-family: 'Courier New', Courier, monospace;
margin-left: 500px;
margin-right: 500px;
}

p1 {
    text-align: center;
    color: black;
    padding: 30px 20px 20px;
    font-size: 20px;
    background-color: bisque;
    opacity: 70%;
    border-radius: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 550px;
    margin-right: 550px;
}

audio {
    margin-left: 780px;
    margin-top: 400px
}